@import "./Carousel.scss";
@import "./MobileCarousel.scss";

$font-family: 'Ropa Sans', sans-serif;

html, body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:hidden;
}

.main-container {
    padding: 120px;
}

.loading-indicator {
    color: $primary-color;
    text-align: center;
    margin: 0 auto;
    width: 150px;
}