$font-family: 'Ropa Sans', sans-serif;
$backgound-color: #fff;
$primary-color: #069;
$gray-color: #ccc;
$white-color: #fff;

.container {
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
    .carousel-container {
        position: relative;
        max-width: 150px;
        margin: 10px auto;
        height: 200px;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 200px;
            border-bottom: 2px solid #9dc9ea;
            position: absolute;
            top: 0;
            left: 0;
        }

        .carousel-wrapper {
            display: flex;
            position: absolute;
            .details {
                flex: 1;
                min-width: 160px;
                .container-img {
                    min-height: 200px;
                }
                .container-title {
                    padding: 5px;
                    label {
                        color: $gray-color;
                    }
                    p {
                        margin: 0;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

/* CAROUSEL CONTROLS */
.controls {
    padding: 2em;
    text-align: center;
    button {
        background: $gray-color;
        border: 0;
        color: #000;
        padding: 0.5em 1em;
        margin: 0 2px;
        font-weight: bold;
        &.prev {
            border-radius: 5px 0 0 5px;
        }
        &.next {
            border-radius: 0 5px 5px 0;
        }
        &:hover {
            background: rgb(0, 81, 255);
        }
    }
}
